@page
@model IndexModel
@{
    ViewData["Title"] = "Truck Registration";
}

<div class="text-center">
    <h1 class="display-4">Registered Trucks</h1>

    @foreach(var truck in Model.Trucks)
    {
        <label>@truck.Id</label> <br />
        <label>@truck.Modelo</label> <br />
    }
</div>