@model TruckViewModel
@{
    ViewData["Title"] = "Listagem - Caminhões";
}

<div class="text-center">
    <h4 class="display-4">Caminhões - Listagem</h4>

    <br />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center" width="10%">Id</th>
                <th class="text-center" width="10%">Modelo</th>
                <th class="text-center" width="30%">Ano de Fabricação</th>
                <th class="text-center" width="30%">Ano Modelo</th>
                <th class="text-center" width="5%">EDITAR</th>
                <th class="text-center" width="5%">EXCLUIR</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var truck in Model.Trucks)
            {
                <tr>
                    <td class="text-center td-truck">@Html.Raw(truck.Id)</td>
                    <td class="text-center td-truck">@Html.Raw(truck.Modelo)</td>
                    <td class="text-center td-truck">@Html.Raw(truck.AnoFabricacao)</td>
                    <td class="text-center td-truck">@Html.Raw(truck.AnoModelo)</td>

                    <td><a href="Home/Edit/@truck.Id">Editar</a></td>

                    <td><a class="btn btn-close" href="Home/Delete/@truck.Id"></a></td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary" href="Home/Edit/0">Cadastrar novo</a>
</div>

<style>
    .td-truck {
        vertical-align: middle;
    }
</style>
